<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.rubypeople.rdt.ui.tests.two"
   name="org.rubypeople.rdt.ui.tests"
   version="0.4.0"
   provider-name="Rubypeople, Inc.">

   <runtime>
      <library name="two.jar">
         <export name="*"/>
      </library>
   </runtime>

</plugin>
