#Wed Nov 07 15:52:54 CET 2007
pluginbuilder.is.generation.necessary=true
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
test.eclipse.zip=/home/misto/temp/eclipse-rcp-europa-linux-gtk/eclipse.tar.gz
autotestsuite.trace=false
pluginbuilder.features=ch.hsr.ifs.refactoring.rdt-feature,ch.hsr.ifs.refactoring.rdt-tests-feature
pluginbuilder.is.svn=false
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=true
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=true
pluginbuilder.is.rcpbuild=false
