<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.rubypeople.rdt.doc.user"
   name="Ruby Development Tools Documentation"
   version="0.3.2"
   provider-name="RubyPeople Inc.">

   <runtime>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
   </requires>


   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="toctasks.xml">
      </toc>
   </extension>

</plugin>
