<cruisecontrol>
	<project name="RDT" buildafterfailed="false">
		<plugin name="labelincrementer" classname="org.rubypeople.rdt.cruisecontrol.plugin.EclipsePluginLabelProvider"/>
		<labelincrementer prefix="0.8.0"/>
		
		<bootstrappers>
			<svnbootstrapper localworkingcopy="../pluginbuilder"/>
		</bootstrappers>

		<!-- Defines where cruise looks for changes, to decide whether to run the build --> 
		<modificationset quietperiod="180"> 
			<svn RepositoryLocation="https://svn.sourceforge.net/svnroot/rubyeclipse"/>
		</modificationset>

		<!-- Configures the actual build loop, how often and which build file/target --> 
		<schedule interval="60"> 
            <ant antscript="/home/rdt/cruisecontrol-bin-2.5/apache-ant-1.6.5/bin/ant"
               antWorkingDir="../pluginbuilder"
               buildfile="build.xml"
               target="dist-cc"
               uselogger="true"
            	usedebug="false">
            	<property name="version.prefix" value="0.8.0"/> 
            </ant> 
		</schedule>

		<log dir="logs/RDT">
			<merge dir="/home/rdt/ccbuild/results/testresults/xml"/>
		</log>

		<!-- more recent versions of CC should use the listener below, instead of 	the currentbuildstatusbootstrapper, currentbuildstatuspublisher combination.  NOTE: Must match filename in CC reporting/jsp - override.properties: user.build.status.file -->
		<listeners>
			<currentbuildstatuslistener file="logs/RDT/status.txt"/>		
		</listeners>

		<!-- Publishers are run *after* a build completes -->
		<publishers> 
			<onsuccess>		    
    				<artifactspublisher 
    					dir="checkout/RDT/dist"
    					dest="artifacts/RDT"/>
				<execute command="/home/rdt/cruiseControlWorkspace/purgeNightlyBuildWebSite.sh"/>
				<scp 
					sourcedir="checkout/RDT/dist"
					file="."
					options="-r"
					targetuser="rubypeople"
					targethost="download.rubypeople.org"
					targetdir="~/subdomains/download/httpdocs/nightly"/>
				<scp 
					sourcedir="checkout/RDT/dist/updateSite"
					file="."
					options="-r"
					targetuser="rubypeople"
					targethost="download.rubypeople.org"
					targetdir="~/subdomains/updatesite/httpdocs/nightly"/>
			</onsuccess>    
			<!--
			<email 
				mailhost="mail.sf.net" 
				returnaddress="mbarchfe@users.sf.net" 
	   			buildresultsurl="http://213.239.199.113:8080/cruisecontrol/buildresults/RDT" 
	   			skipusers="false" 
	   			spamwhilebroken="false">
				<always address="rubyeclipse-build@lists.sourceforge.net"/>
			</email>    
			-->
		</publishers> 
	</project> 
</cruisecontrol>

