<cruisecontrol>
	<project name="RDT" buildafterfailed="false">
		<plugin name="labelincrementer" classname="org.rubypeople.rdt.cruisecontrol.plugin.EclipsePluginLabelProvider"/>
		<labelincrementer prefix="0.7.0"/>

		<!-- Defines where cruise looks for changes, to decide whether to run the build --> 
		<modificationset quietperiod="120"> 
			<cvs cvsroot=":ext:mbarchfe@cvs.sf.net:/cvsroot/rubyeclipse" module="rdt-all"/>
		<alwaysbuild/>
		</modificationset>

		<!-- Configures the actual build loop, how often and which build file/target --> 
		<schedule interval="60"> 
            <ant antscript="/home/bma/apache-ant-1.6.5/bin/ant"
               buildfile="build-RDT.xml"
               target="dist"
               uselogger="true"
               usedebug="true"/> 
		</schedule>

		<log dir="logs/RDT">
			<merge dir="/home/bma/rdt/eclipse-testing/results/xml"/>
		</log>

		<!-- more recent versions of CC should use the listener below, instead of 	the currentbuildstatusbootstrapper, currentbuildstatuspublisher combination.  NOTE: Must match filename in CC reporting/jsp - override.properties: user.build.status.file -->
		<listeners>
			<currentbuildstatuslistener file="logs/RDT/buildstatus.txt"/>		
		</listeners>

		<!-- Publishers are run *after* a build completes -->
		<publishers> 
			<onsuccess>		    
    				<artifactspublisher 
    					dir="checkout/RDT/dist"
    					dest="artifacts/RDT"/>
				<execute command="/home/bma/cruiseControlWorkspace/purgeNightlyBuildWebSite.sh"/>
				<scp 
					sourcedir="checkout/RDT/dist"
					file="."
					options="-r"
					targetuser="rubypeople"
					targethost="download.rubypeople.org"
					targetdir="~/subdomains/download/httpdocs/nightly"/>
				<scp 
					sourcedir="checkout/RDT/dist/updateSite"
					file="."
					options="-r"
					targetuser="rubypeople"
					targethost="download.rubypeople.org"
					targetdir="~/subdomains/updatesite/httpdocs/nightly"/>
			</onsuccess>    
			<email 
				mailhost="mail.sf.net" 
				returnaddress="mbarchfe@users.sf.net" 
	   			buildresultsurl="http://213.239.199.113:8080/cruisecontrol/buildresults/RDT" 
	   			skipusers="false" 
	   			spamwhilebroken="false">
				<always address="rubyeclipse-build@lists.sourceforge.net"/>
			</email>    
		</publishers> 
	</project> 
</cruisecontrol>
