<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.rubypeople.rdt.debug.ui"
   name="%Plugin.name"
   version="0.2.0"
   provider-name="RubyPeople, Inc."
   class="org.rubypeople.rdt.internal.debug.ui.RdtDebugUiPlugin">

   <runtime>
      <library name="rdtdebugui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.rubypeople.rdt.launching"/>
      <import plugin="org.rubypeople.rdt.ui"/>
      <import plugin="org.rubypeople.rdt.core"/>
      <import plugin="org.rubypeople.rdt.debug.core"/>
   </requires>


   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%PreferencePage.RubyInterpreter.name"
            category="org.rubypeople.rdt.ui.preferences.PreferencePageRubyBase"
            class="org.rubypeople.rdt.internal.debug.ui.preferences.RubyInterpreterPreferencePage"
            id="org.rubypeople.rdt.debug.ui.preferences.PreferencePageRubyInterpreter">
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/full/ctool16/run_ruby.gif"
            configTypeID="org.rubypeople.rdt.launching.LaunchConfigurationTypeRubyApplication"
            id="org.rubypeople.rdt.debug.ui.LaunchConfigurationTypeImageRubyApplication">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.rubypeople.rdt.launching.LaunchConfigurationTypeRubyApplication"
            class="org.rubypeople.rdt.internal.debug.ui.launcher.RubyApplicationTabGroup"
            id="org.rubypeople.rdt.debug.ui.LaunchConfigurationTabGroupRubyApplication">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="%LaunchShortcut.Ruby.label"
            icon="icons/full/ctool16/run_ruby.gif"
            modes="run, debug"
            class="org.rubypeople.rdt.internal.debug.ui.launcher.RubyApplicationShortcut"
            id="org.rubypeople.rdt.debug.ui.applicationshortcut.ruby">
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.rubypeople.rdt.ui.EditorRubyFile"
            id="org.rubypeople.rdt.debug.ui.EditorRubyFile.BreakpointRulerActions">
         <action
               label="%Dummy.label"
               class="org.rubypeople.rdt.internal.debug.ui.actions.ManageBreakpointRulerActionDelegate"
               actionID="RulerDoubleClick"
               id="org.rubypeople.rdt.debug.ui.EditorRubyFile.ManageBreakpointRulerAction">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.rubypeople.rdt.internal.debug.ui.DebugModelPresentation"
            id="org.rubypeople.rdt.debug">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#rubyRulerContext"
            id="RubyRulerPopupActions">
         <action
               label="Add Breakpoint"
               class="org.rubypeople.rdt.internal.debug.ui.actions.ManageBreakpointRulerActionDelegate"
               menubarPath="debug"
               id="ManageBreakpointRulerActionDelegate">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            name="RubySourceLocator"
            class="org.rubypeople.rdt.internal.debug.ui.RubySourceLocator"
            id="org.rubypeople.rdt.debug.ui.rubySourceLocator">
      </sourceLocator>
   </extension>

</plugin>
