<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.rubypeople.rdt.ui"
   name="%Plugin.name"
   version="0.6.0"
   provider-name="%providerName"
   class="org.rubypeople.rdt.internal.ui.RubyPlugin">

   <runtime>
      <library name="rdtui.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.console"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.rubypeople.rdt.core"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.core.expressions"/>
      <import plugin="org.eclipse.ui.forms"/>
      <import plugin="org.rubypeople.rdt.launching"/>
      <import plugin="org.eclipse.search"/>
   </requires>
   <extension-point id="foldingStructureProviders" name="%foldingStructureProviders" schema="schema/foldingStructureProviders.exsd"/>
   <extension-point id="editorPopupExtender" name="%editorPopupExtender" schema="schema/org.rubypeople.rdt.ui.editorPopupExtender.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%PreferencePage.RubyBase.name"
            class="org.rubypeople.rdt.internal.ui.preferences.RubyBasePreferencePage"
            id="org.rubypeople.rdt.ui.preferences.PreferencePageRubyBase">
      </page>
      <page
            name="%PreferencePage.RubyEditor.name"
            category="org.rubypeople.rdt.ui.preferences.PreferencePageRubyBase"
            class="org.rubypeople.rdt.internal.ui.preferences.TextEditorPreferencePage2"
            id="org.rubypeople.rdt.ui.preferences.PreferencePageRubyEditor">
      </page>
      <page
            name="%PreferencePage.rdtTaskPreferences"
            category="org.rubypeople.rdt.ui.preferences.PreferencePageRubyBase"
            class="org.rubypeople.rdt.internal.ui.preferences.TodoTaskPreferencePage"
            id="org.rubypeople.rdt.ui.preferences.PreferencePageTodoTask">
      </page>
       <page
            name="%PreferencePage.rdtTemplatePreferences"
            category="org.rubypeople.rdt.ui.preferences.PreferencePageRubyBase"
            class="org.rubypeople.rdt.internal.ui.rubyeditor.templates.RubyTemplatePreferencePage"
            id="org.rubypeople.rdt.ui.TemplatesPreferencePage">
      </page>
      <page
            name="%PreferencePage.rdtRiPreferences"
            category="org.rubypeople.rdt.ui.preferences.PreferencePageRubyBase"
            class="org.rubypeople.rdt.internal.ui.preferences.RdocRiPreferencePage"
            id="org.rubypeople.rdt.ui.RdocRiPreferencePage">
      </page>      
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%PerspectiveRuby.name"
            icon="icons/full/ctool16/ruby.gif"
            class="org.rubypeople.rdt.internal.ui.RdtPerspectiveFactory"
            id="org.rubypeople.rdt.ui.PerspectiveRuby">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%NewWizardCategory.name"
            id="org.rubypeople.rdt.ui.NewWizardCategoryRuby">
      </category>
      <wizard
            name="%NewWizardRubyProject.name"
            icon="icons/full/etool16/newrprj_wiz.gif"
            category="org.rubypeople.rdt.ui.NewWizardCategoryRuby"
            class="org.rubypeople.rdt.internal.ui.wizards.NewProjectCreationWizard"
            preferredPerspectives="org.rubypeople.rdt.ui.PerspectiveRuby"
            project="true"
            id="org.rubypeople.rdt.ui.wizards.NewWizardProjectCreation">
         <description>
            Create a new Ruby project.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/full/ovr16/ruby_ovr.gif"
            natureId="org.rubypeople.rdt.core.rubynature"
            id="org.rubypeople.rdt.ui.ProjectNatureImageRuby">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            name="%PropertyPageRubyProject.name"
            class="org.rubypeople.rdt.internal.ui.RubyProjectPropertyPage"
            id="org.rubypeople.rdt.ui.PropertyPageRubyProject">
         <filter
               name="nature"
               value="org.rubypeople.rdt.core.rubynature">
         </filter>
      </page>
      <page
            objectClass="org.rubypeople.rdt.core.IRubyProject"
            name="%PropertyPageRubyProject.name"
            class="org.rubypeople.rdt.internal.ui.RubyProjectPropertyPage"
            id="org.rubypeople.rdt.ui.PropertyPageRubyProject">
         <filter
               name="nature"
               value="org.rubypeople.rdt.core.rubynature">
         </filter>
      </page>
   </extension>
   <extension point="org.eclipse.ui.views">
      <category
            name="%viewCategoryName"
            id="org.rubypeople.rdt.ui.ruby">
      </category>
      <view
            name="%ViewRubyResources.name"
            icon="icons/full/ctool16/ruby.gif"
            category="org.rubypeople.rdt.ui.ruby"
            class="org.rubypeople.rdt.internal.ui.resourcesview.RubyResourcesView"
            id="org.rubypeople.rdt.ui.ViewRubyResources">
      </view>
      <view
            name="RI"
            icon="icons/full/elcl16/help.gif"
            category="org.rubypeople.rdt.ui.ruby"
            class="org.rubypeople.rdt.internal.ui.infoviews.RIView"
            id="org.rubypeople.rdt.ui.views.RIView">
      </view>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
   	 <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
       <perspectiveShortcut id="org.rubypeople.rdt.ui.PerspectiveRuby" />
     </perspectiveExtension>
     <perspectiveExtension targetID="org.rubypeople.rdt.ui.PerspectiveRuby">
       <newWizardShortcut id="org.rubypeople.rdt.ui.wizards.NewWizardProjectCreation"/>
	   <newWizardShortcut id="org.eclipse.ui.wizards.new.folder"/>
	   <newWizardShortcut id="org.eclipse.ui.wizards.new.file"/>
       <viewShortcut id="org.eclipse.ui.views.ContentOutline"/>
       <viewShortcut id="org.rubypeople.rdt.ui.ViewRubyResources"/>
       <viewShortcut id="org.eclipse.ui.console.ConsoleView"/>
       <viewShortcut id="org.eclipse.ui.views.ProblemView"/>
       <viewShortcut id="org.eclipse.ui.views.TaskList"/>
       <viewShortcut id="org.rubypeople.rdt.ui.views.RIView"/>   
       <perspectiveShortcut id="org.eclipse.ui.resourcePerspective" />
     </perspectiveExtension>
     <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
       <perspectiveShortcut id="org.rubypeople.rdt.ui.PerspectiveRuby" />
     </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            name="%EditorRubyFile.name"
            extensions="%EditorRubyFile.extension"
            icon="icons/full/ctool16/ruby_page.gif"
            class="org.rubypeople.rdt.internal.ui.rubyeditor.RubyEditor"
            contributorClass="org.rubypeople.rdt.internal.ui.rubyeditor.RubyEditorActionContributor"
            id="org.rubypeople.rdt.ui.EditorRubyFile">
         <contentTypeBinding contentTypeId="org.rubypeople.rdt.core.rubySource"/>
      </editor>
      <editor
            name="%ExternalEditorRubyFile.name"
            icon="icons/full/ctool16/ruby_page.gif"
            extensions=""
            contributorClass="org.rubypeople.rdt.internal.ui.rubyeditor.RubyEditorActionContributor"
            class="org.rubypeople.rdt.internal.ui.rubyeditor.ExternalRubyEditor"
            id="org.rubypeople.rdt.ui.ExternalRubyEditor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.contexts">
	  <context
            name="%scope.rubyEditor.name"
            description="%scope.rubyEditor.description"
            parentId="org.eclipse.ui.textEditorScope"
            id="org.rubypeople.rdt.ui.rubyEditorScope">
      </context>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <category
            name="%category.source.name"
            description="%category.source.description"
            id="org.rubypeople.rdt.ui.category.source">
      </category>
      <command
            category="org.rubypeople.rdt.ui.category.source"
            categoryId="org.rubypeople.rdt.ui.category.source"
            description="%ActionDefinition.format.description"
            id="org.rubypeople.rdt.ui.edit.text.ruby.format"
            name="%ActionDefinition.format.name">
      </command>
      <keyBinding
            keySequence="M1+M2+F"
            scope="org.rubypeople.rdt.ui.rubyEditorScope"
            command="org.rubypeople.rdt.ui.edit.text.ruby.format"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            category="org.rubypeople.rdt.ui.category.source"
            categoryId="org.rubypeople.rdt.ui.category.source"
            description="%ActionDefinition.comment.description"
            id="org.rubypeople.rdt.ui.edit.text.ruby.comment"
            name="%ActionDefinition.comment.name">
      </command>
      <command
            category="org.rubypeople.rdt.ui.category.source"
            categoryId="org.rubypeople.rdt.ui.category.source"
            description="%ActionDefinition.uncomment.description"
            id="org.rubypeople.rdt.ui.edit.text.ruby.uncomment"
            name="%ActionDefinition.uncomment.name">
      </command>
      <command
            category="org.rubypeople.rdt.ui.category.source"
            categoryId="org.rubypeople.rdt.ui.category.source"
            description="%ActionDefinition.toggleComment.description"
            id="org.rubypeople.rdt.ui.edit.text.ruby.toggle.comment"
            name="%ActionDefinition.toggleComment.name">
      </command>
      <keyBinding
            keySequence="M1+/"
            scope="org.rubypeople.rdt.ui.rubyEditorScope"
            command="org.rubypeople.rdt.ui.edit.text.ruby.toggle.comment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            keySequence="M1+M2+C"
            scope="org.rubypeople.rdt.ui.rubyEditorScope"
            command="org.rubypeople.rdt.ui.edit.text.ruby.toggle.comment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            category="org.rubypeople.rdt.ui.category.source"
            categoryId="org.rubypeople.rdt.ui.category.source"
            description="%ActionDefinition.contentAssist.description"
            id="org.rubypeople.rdt.ui.edit.text.ruby.content.assist.proposals"
            name="%ActionDefinition.contentAssist.name">
      </command>
      <keyBinding
            keySequence="M1+SPACE"
            scope="org.rubypeople.rdt.ui.rubyEditorScope"
            command="org.rubypeople.rdt.ui.edit.text.ruby.content.assist.proposals"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      
      <category
            name="%category.project.name"
            description="%category.project.description"
            id="org.rubypeople.rdt.ui.category.project">
      </category>
      <command
            category="org.eclipse.ui.category.project"
            categoryId="org.rubypeople.rdt.ui.category.project"
            description="%ActionDefinition.generateRdoc.description"
            id="org.rubypeople.rdt.ui.generate.rdoc"
            name="%ActionDefinition.generateRdoc.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.actionDefinitions">
      <actionDefinition
            description="%ActionDefinition.comment.description"
            id="org.rubypeople.rdt.ui.edit.text.ruby.comment"
            name="%ActionDefinition.comment.name">
      </actionDefinition>
      <actionDefinition
            description="%ActionDefinition.uncomment.description"
            id="org.rubypeople.rdt.ui.edit.text.ruby.uncomment"
            name="%ActionDefinition.uncomment.name">
      </actionDefinition>
      <actionDefinition
            description="%ActionDefinition.contentAssist.description"
            id="org.rubypeople.rdt.ui.edit.text.ruby.content.assist.proposals"
            name="%ActionDefinition.contentAssist.name">
      </actionDefinition>
      <actionDefinition
            description="%ActionDefinition.generateRdoc.description"
            id="org.rubypeople.rdt.ui.generate.rdoc"
            name="%ActionDefinition.generateRdoc.name">
      </actionDefinition>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%RubyActionSet.label"
            visible="false"
            id="org.rubypeople.rdt.ui.rubyActionSet">
         <menu
               label="%Ruby.menu.label"
               path="edit"
               id="org.rubypeople.rdt.ui.ruby.menu">
            <separator
                  name="editGroup">
            </separator>
         </menu>
                  
         <action
               definitionId="org.rubypeople.rdt.ui.generate.rdoc"
               label="%GenerateRdocAction.label"
               helpContextId="org.rubypeople.rdt.ui.generate_rdoc_action"
               class="org.rubypeople.rdt.internal.ui.actions.GenerateRdocAction"
               menubarPath="project/additions"
               id="exportRdoc">
         </action>
         <action
               definitionId="org.rubypeople.rdt.ui.edit.text.ruby.uncomment"
               label="%UncommentAction.label"
               menubarPath="org.rubypeople.rdt.ui.ruby.menu/editGroup"
               retarget="true"
               id="org.rubypeople.rdt.ui.actions.Uncomment">
         </action>
         <action
               definitionId="org.rubypeople.rdt.ui.edit.text.ruby.comment"
               label="%CommentAction.label"
               menubarPath="org.rubypeople.rdt.ui.ruby.menu/editGroup"
               retarget="true"
               id="org.rubypeople.rdt.ui.actions.Comment">
         </action>
         <action
            definitionId="org.rubypeople.rdt.ui.edit.text.ruby.toggle.comment"
            label="%ToggleCommentAction.label"
            retarget="true"
            menubarPath="org.rubypeople.rdt.ui.ruby.menu/editGroup"
            id="org.rubypeople.rdt.ui.actions.ToggleComment">
         </action>
      </actionSet>
      <actionSet
            label="%RubyElementCreationActionSet.label"
            description="%RubyElementCreationActionSet.description"
            visible="false"
            id="org.rubypeople.rdt.ui.RubyElementCreationActionSet">
          <action
               label="%OpenProjectWizardAction.label"
               icon="icons/full/etool16/newrprj_wiz.gif"
               tooltip="%OpenProjectWizardAction.tooltip"
               class="org.rubypeople.rdt.internal.ui.wizards.OpenProjectWizardAction"
               toolbarPath="Normal/RubyWizards"
               id="org.rubypeople.rdt.ui.actions.OpenProjectWizard">
         </action>
      </actionSet>
   </extension>
   
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
         <part
               id="org.rubypeople.rdt.ui.EditorRubyFile">
         </part>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.presentation">
         <part
               id="org.rubypeople.rdt.ui.EditorRubyFile">
         </part>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.rubypeople.rdt.ui.rubyActionSet">
         <part
               id="org.rubypeople.rdt.ui.EditorRubyFile">
         </part>
      </actionSetPartAssociation>
   </extension>  
   
   <extension
         point="org.eclipse.ui.editors.markerUpdaters">
      <updater
            markerType="org.rubypeople.rdt.debug.core.RubyBreakpointMarker"
            class="org.rubypeople.rdt.internal.ui.rubyeditor.RubyBreakpointMarkerUpdater"
            id="RubyBreakpointMarkerUpdater">
      </updater>
   </extension>

   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            super="org.eclipse.ui.workbench.texteditor.error"
            markerType="org.rubypeople.rdt.core.problem"
            name="org.rubypeople.rdt.ui.error"
            markerSeverity="2">
      </type>
      <type
            super="org.eclipse.ui.workbench.texteditor.warning"
            markerType="org.rubypeople.rdt.core.problem"
            name="org.rubypeople.rdt.ui.warning"
            markerSeverity="1">
      </type>
      <type
            super="org.eclipse.ui.workbench.texteditor.info"
            markerType="org.rubypeople.rdt.core.problem"
            name="org.rubypeople.rdt.ui.info"
            markerSeverity="0">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            symbolicIcon="error"
            annotationType="org.rubypeople.rdt.ui.error">
      </specification>
      <specification
             symbolicIcon="warning"
            annotationType="org.rubypeople.rdt.ui.warning">
      </specification>
      <specification
            symbolicIcon="info"
            annotationType="org.rubypeople.rdt.ui.info">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.ide.resourceFilters">
      <filter
            selected="false"
            pattern="*.xml">
      </filter>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            name="%rubyFile.contextType.name"
            class="org.rubypeople.rdt.internal.ui.rubyeditor.templates.RubyFileContextType"
            id="org.rubypeople.rdt.ui.templateContextType.rubyFile">
      </contextType>
      <resolver
            name="%rdt.resolvers.src"
            type="src"
            icon="templates/resolver.gif"
            description="%rdt.resolvers.src.description"
            contextTypeId="org.rubypeople.rdt.ui.templateContextType.XML"
            class="org.rubypeople.rdt.internal.ui.rubyeditor.templates.RubyVariableResolver">
      </resolver>
      <resolver
            name="%rdt.resolvers.dst"
            type="dst"
            icon="templates/resolver.gif"
            description="%rdt.resolvers.dst.description"
            contextTypeId="org.rubypeople.rdt.ui.templateContextType.XML"
            class="org.rubypeople.rdt.internal.ui.rubyeditor.templates.RubyVariableResolver">
      </resolver>
      <include
      		file="templates/rdt.xml"
      		translations="$nl$/templates/rdt.properties">
      </include>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            id="org.rubypeople.rdt.ui.externalRubyFileEditorInputFactory"
            class="org.rubypeople.rdt.internal.ui.rubyeditor.RubyExternalEditorFactory"/>
   </extension>
   
   	<extension
		point= "org.rubypeople.rdt.ui.foldingStructureProviders">
		<provider
			id="org.rubypeople.rdt.ui.text.defaultFoldingProvider"
			name= "%defaultFoldingStructureProviderName"
			class="org.rubypeople.rdt.internal.ui.text.folding.DefaultRubyFoldingStructureProvider"
			preferencesClass="org.rubypeople.rdt.internal.ui.text.folding.DefaultRubyFoldingPreferenceBlock">
		</provider>
	</extension>
   
   <extension point="org.eclipse.core.runtime.adapters">
   		<factory 
            class="org.rubypeople.rdt.internal.ui.RubyProjectAdapterFactory" 
            adaptableType="org.rubypeople.rdt.core.IRubyProject">
            <adapter type="org.eclipse.core.resources.IProject"/>
		</factory>
		
		<factory 
            class="org.rubypeople.rdt.internal.ui.ResourceAdapterFactory" 
            adaptableType="org.eclipse.core.resources.IResource">
            <adapter type="org.rubypeople.rdt.core.IRubyElement"/>
		</factory>
		
		<factory 
            class="org.rubypeople.rdt.internal.ui.RubyElementAdapterFactory" 
            adaptableType="org.eclipse.rdt.core.IRubyElement">
            
            <adapter type="org.eclipse.core.resources.IResource"/>
            <adapter type="org.eclipse.ui.IContributorResourceAdapter"/>
            
            <adapter type="org.eclipse.ui.views.tasklist.ITaskListResourceAdapter"/>
		</factory>
	</extension>

  <extension
         id="RubyDocumentSetupParticipant"
         name="%rubyDocumentSetupParticipant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.rubypeople.rdt.internal.ui.rubyeditor.RubyDocumentSetupParticipant"
            contentTypeId="org.rubypeople.rdt.core.rubySource"
            extensions="rb,rbw"
            fileNames="Rakefile">
      </participant>
   </extension>
   <extension
         id="RubyDocumentFactory"
         name="%rubyDocumentFactory"
         point="org.eclipse.core.filebuffers.documentCreation">
      <factory
            class="org.rubypeople.rdt.internal.ui.rubyeditor.RubyDocumentFactory"
            contentTypeId="org.rubypeople.rdt.core.rubySource"
            extensions="rb,rbw"
            fileNames="Rakefile">
      </factory>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            class="org.rubypeople.rdt.internal.ui.search.RubySearchPage"
            id="org.rubypeople.rdt.ui.RubySearchPage"
            label="%RubySearchPage.label"/>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="org.rubypeople.rdt.internal.ui.search.RubySearchResultPage"
            id="org.rubypeople.rdt.ui.search.RubySearchResultPage"
            searchResultClass="org.rubypeople.rdt.internal.ui.search.RubySearchResult"/>
   </extension>
</plugin>
