<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.rubypeople.rdt.ui"
   name="%Plugin.name"
   version="0.2.0"
   provider-name="RubyPeople, Inc."
   class="org.rubypeople.rdt.internal.ui.RdtUiPlugin">

   <runtime>
      <library name="rdtui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.rubypeople.rdt"/>
      <import plugin="org.eclipse.debug.ui"/>
   </requires>


   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%PerspectiveRuby.name"
            icon="icons/full/ctool16/ruby.gif"
            class="org.rubypeople.rdt.internal.ui.RdtPerspectiveFactory"
            id="org.rubypeople.rdt.ui.PerspectiveRuby">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%NewWizardCategory.name"
            id="org.rubypeople.rdt.ui.NewWizardCategoryRuby">
      </category>
      <wizard
            name="%NewWizardRubyProject.name"
            icon="icons/full/ctool16/ruby.gif"
            category="org.rubypeople.rdt.ui.NewWizardCategoryRuby"
            class="org.rubypeople.rdt.internal.ui.wizards.NewProjectCreationWizard"
            project="true"
            id="org.rubypeople.rdt.ui.wizards.NewWizardProjectCreation">
         <description>
            Create a new Ruby project.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.projectNatureImages">
      <image
            icon="icons/full/ovr16/ruby_ovr.gif"
            natureId="org.rubypeople.rdt.rubynature"
            id="org.rubypeople.rdt.ui.ProjectNatureImageRuby">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            name="%PropertyPageRubyProject.name"
            class="org.rubypeople.rdt.internal.ui.RubyProjectPropertyPage"
            id="org.rubypeople.rdt.ui.PropertyPageRubyProject">
         <filter
               name="nature"
               value="org.rubypeople.rdt.rubynature">
         </filter>
      </page>
      <page
            objectClass="org.rubypeople.rdt.internal.core.RubyProject"
            name="%PropertyPageRubyProject.name"
            class="org.rubypeople.rdt.internal.ui.RubyProjectPropertyPage"
            id="org.rubypeople.rdt.ui.PropertyPageRubyProject">
         <filter
               name="nature"
               value="org.rubypeople.rdt.rubynature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%ViewRubyResources.name"
            icon="icons/full/ctool16/ruby.gif"
            class="org.rubypeople.rdt.internal.ui.RubyResourcesView"
            id="org.rubypeople.rdt.ui.ViewRubyResources">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.documentProviders">
      <provider
            extensions="%EditorRubyFile.extension"
            class="org.rubypeople.rdt.internal.ui.rubyeditor.RubyDocumentProvider"
            id="org.rubypeople.rdt.ui.DocumentProviderRubyFile">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%EditorRubyFile.name"
            icon="icons/full/ctool16/ruby_sheet.png"
            extensions="%EditorRubyFile.extension"
            contributorClass="org.rubypeople.rdt.internal.ui.rubyeditor.RubyEditorActionContributor"
            class="org.rubypeople.rdt.internal.ui.rubyeditor.RubyEditor"
            id="org.rubypeople.rdt.ui.EditorRubyFile">
      </editor>
   </extension>

</plugin>
