<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.rubypeople.rdt.ui"
   name="%pluginName"
   version="0.1.0"
   provider-name="RubyPeople, Inc."
   class="org.rubypeople.rdt.internal.ui.RdtUiPlugin">

   <runtime>
      <library name="rdtui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.rubypeople.rdt"/>
      <import plugin="org.eclipse.debug.ui"/>
   </requires>


   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspectiveName"
            icon="icons/full/ctool16/ruby.gif"
            class="org.rubypeople.rdt.internal.ui.RdtPerspectiveFactory"
            id="org.rubypeople.rdt.ui.RubyPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%NewWizardCategory.name"
            id="org.rubypeople.rdt.ui.ruby">
      </category>
      <wizard
            name="%NewRubyProjectWizard.name"
            icon="icons/full/ctool16/ruby.gif"
            category="org.rubypeople.rdt.ui.ruby"
            class="org.rubypeople.rdt.internal.ui.NewRubyProjectWizard"
            id="org.rubypeople.rdt.ui.NewRubyProjectWizard">
         <description>
            Create a new Ruby project.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.projectNatureImages">
      <image
            icon="icons/full/ovr16/ruby_ovr.gif"
            natureId="org.rubypeople.rdt.rubynature"
            id="org.rubypeople.rdt.rubynatureImage">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            name="%RubyProjectPropertyPage.name"
            class="org.rubypeople.rdt.internal.ui.RubyProjectPropertyPage"
            id="org.rubypeople.rdt.ui.RubyProjectPropertyPage">
         <filter
               name="nature"
               value="org.rubypeople.rdt.rubynature">
         </filter>
      </page>
      <page
            objectClass="org.rubypeople.rdt.internal.core.RubyProject"
            name="%RubyProjectPropertyPage.name"
            class="org.rubypeople.rdt.internal.ui.RubyProjectPropertyPage"
            id="org.rubypeople.rdt.ui.RubyProjectPropertyPage">
         <filter
               name="nature"
               value="org.rubypeople.rdt.rubynature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%rubyResourcesViewName"
            icon="icons/full/ctool16/ruby.gif"
            class="org.rubypeople.rdt.internal.ui.RubyResourcesView"
            id="org.rubypeople.rdt.ui.RubyResourcesView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.documentProviders">
      <provider
            extensions="%rubyFileExtension"
            class="org.rubypeople.rdt.internal.ui.rubyeditor.RubyDocumentProvider"
            id="org.rubypeople.rdt.ui.rubyDocumentProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%rubyEditor.name"
            icon="icons/full/ctool16/ruby.gif"
            extensions="%rubyFileExtension"
            contributorClass="org.rubypeople.rdt.internal.ui.rubyeditor.RubyEditorActionContributor"
            class="org.rubypeople.rdt.internal.ui.rubyeditor.RubyEditor"
            id="org.rubypeople.rdt.ui.rubyEditor">
      </editor>
   </extension>

</plugin>
