<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.rubypeople.rdt.debug.core"
   name="%Plugin.name"
   version="0.4.0"
   provider-name="RubyPeople, Inc."
   class="org.rubypeople.rdt.internal.debug.core.RdtDebugCorePlugin">

   <runtime>
      <library name="rdtdebugcore.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.rubypeople.rdt.core"/>
      <import plugin="org.kxml2"/>
<!-- jdt reference because of static variable filter, see JdtVariableAdapter -->
      <import plugin="org.eclipse.jdt.debug"/>
   </requires>


   <extension
         id="RubyBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.breakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="RubyBreakpointMarker"
            class="org.rubypeople.rdt.internal.debug.core.RubyLineBreakpoint"
            id="RubyLineBreakpoint">
      </breakpoint>
   </extension>

</plugin>
