#Wed Oct 17 11:20:32 CEST 2007
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
verboseAnt=-verbose
test.eclipse.zip=/home/misto/temp/eclipse-rcp-europa-linux-gtk.tar.gz
autotestsuite.trace=true
pluginbuilder.features=org.rubypeople.rdt,org.rubypeople.rdt-tests
pluginbuilder.is.svn=false
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=true
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=true
pluginbuilder.is.rcpbuild=false
