<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="rubynature"
         name="%NatureRuby.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.rubypeople.rdt.internal.core.RubyProject">
         </run>
      </runtime>
   </extension>
   
   <!-- =================================================================================== -->
<!-- Extension: Ruby Builder                                                             -->
<!-- =================================================================================== -->

<extension 
	point="org.eclipse.core.resources.builders" 
	id="rubybuilder"
	name="%rubyBuilderName">
	<builder>
		<run class="org.rubypeople.rdt.internal.core.builder.RubyBuilder">
		</run>
	</builder>
</extension>
   
<!-- =================================================================================== -->
<!-- Extension: Ruby File Types                                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="rb">
      </fileTypes>
	<fileTypes
            type="text"
            extension="rbw">
      </fileTypes>
      <fileTypes
            type="text"
            extension="cgi">
      </fileTypes>
      <fileTypes
            type="text"
            extension="rhtml">
      </fileTypes>
      <fileTypes
            type="text"
            extension="yml">
      </fileTypes>
   </extension>

<!-- =================================================================================== -->
<!-- Extension: Ruby Problem                                                             -->
<!-- =================================================================================== -->
   <extension id="problem" point="org.eclipse.core.resources.markers" name="%rubyProblemName">
      <super type="org.eclipse.core.resources.problemmarker" />
      <super type="org.eclipse.core.resources.textmarker" />
	  <persistent value="true"/>
	  <attribute name="id"/>
	  <attribute name="flags"/>
	  <attribute name="arguments"/>
   </extension>
   
<!-- =================================================================================== -->
<!-- Extension: Ruby Transient Problem                                                   -->
<!-- =================================================================================== -->
<extension id="transient_problem" point="org.eclipse.core.resources.markers" name="%transientRubyProblemName">
	<super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="false"/>
	<attribute name="id"/>
	<attribute name="flags"/>
	<attribute name="arguments"/>
</extension>

<!-- =================================================================================== -->
<!-- Extension: Ruby Task                                                                -->
<!-- =================================================================================== -->
<extension id="task" name="%rubyTaskName" point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.taskmarker"/> 
    <persistent value="true"/>
</extension>

<!-- =================================================================================== -->
<!-- Extension: Ruby Content Types                                                       -->
<!-- =================================================================================== -->
<extension
      point="org.eclipse.core.runtime.contentTypes">
	<!-- declares a content type for Ruby Source files -->
	<content-type
       base-type="org.eclipse.core.runtime.text"
       file-extensions="rb,rbw,cgi,fcgi"
       file-names="Rakefile,generate,profiler,console,destroy,benchmarker,breakpointer,runner,server,rails,tracker,update,listener,breakpointer_for_gem,switchtower,switchtower_for_gem"
       id="rubySource"
       name="%rubySourceName"
       priority="high"/>
</extension>

</plugin>
