<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.rubypeople.eclipse.testutils"
   name="org.rubypeople.eclipse.testutils"
   version="1.0.0">

   <runtime>
      <library name="testutils.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.junit"/>
   </requires>


</plugin>
