<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.rubypeople.rdt.launching"
   name="%Plugin.name"
   version="0.0.0"
   provider-name="RubyPeople, Inc."
   class="org.rubypeople.rdt.internal.launching.LaunchingPlugin">

   <runtime>
      <library name="launching.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.rubypeople.rdt.core"/>
      <import plugin="org.rubypeople.rdt.debug.core"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.variables"/>
   </requires>
   
   <!-- Extension point definitions -->
   <extension-point id="vmInstallTypes" name="%vmInstallTypes" schema="schema/vmInstallTypes.exsd"/>
   <extension-point id="vmInstalls" name="%vmInstalls" schema="schema/vmInstalls.exsd"/>
   <extension-point id="loadpathProviders" name="%loadpathProviders" schema="schema/loadpathProviders.exsd"/>
   <extension-point id="runtimeLoadpathEntryResolvers" name="%runtimeLoadpathEntryResolvers" schema="schema/runtimeLoadpathEntryResolvers.exsd"/>
   <extension-point id="runtimeLoadpathEntries" name="%runtimeLoadpathEntries" schema="schema/runtimeLoadpathEntries.exsd"/>
   
   <extension
         point="org.rubypeople.rdt.launching.vmInstallTypes">
      <vmInstallType
            class="org.rubypeople.rdt.internal.launching.StandardVMType"
            id="org.rubypeople.rdt.launching.StandardVMType">
      </vmInstallType>
   </extension>   
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="%LaunchConfigurationTypeRubyApplication.name"
            delegate="org.rubypeople.rdt.internal.launching.RubyApplicationLaunchConfigurationDelegate"
            modes="run,debug"
            id="org.rubypeople.rdt.launching.LaunchConfigurationTypeRubyApplication">
      </launchConfigurationType>
   </extension>
      <extension
         point="org.rubypeople.rdt.core.loadpathVariableInitializer">
      <loadpathVariableInitializer
            variable="RUBY_LIB"
            class="org.rubypeople.rdt.internal.launching.RubyLoadpathVariablesInitializer">
      </loadpathVariableInitializer>
   </extension>
   <extension
         point="org.rubypeople.rdt.core.loadpathContainerInitializer">
      <loadpathContainerInitializer
            class="org.rubypeople.rdt.internal.launching.RubyContainerInitializer"
            id="org.rubypeople.rdt.launching.RUBY_CONTAINER">
      </loadpathContainerInitializer>
   </extension>
   <extension
            point="org.rubypeople.rdt.launching.runtimeLoadpathEntryResolvers">
      <runtimeLoadpathEntryResolver
            container="org.rubypeople.rdt.launching.RUBY_CONTAINER"
            variable="RUBY_LIB"
            class="org.rubypeople.rdt.internal.launching.RubyVMRuntimeLoadpathEntryResolver"
            id="org.rubypeople.rdt.launching.RUBYVM_RESOLVER">
      </runtimeLoadpathEntryResolver>      
      <runtimeLoadpathEntryResolver
      		runtimeLoadpathEntryId="org.rubypeople.rdt.launching.loadpathentry.variableLoadpathEntry"
            class="org.rubypeople.rdt.internal.launching.VariableLoadpathResolver"
            id="org.rubypeople.rdt.launching.variableLoadpathResolver">
      </runtimeLoadpathEntryResolver>
   </extension>
   <extension
         point="org.rubypeople.rdt.launching.runtimeLoadpathEntries">
      <runtimeLoadpathEntry
            id="org.rubypeople.rdt.launching.loadpathentry.defaultLoadpath"
            class="org.rubypeople.rdt.internal.launching.DefaultProjectLoadpathEntry">
      </runtimeLoadpathEntry>
      <runtimeLoadpathEntry
            id="org.rubypeople.rdt.launching.loadpathentry.variableLoadpathEntry"
            class="org.rubypeople.rdt.internal.launching.VariableLoadpathEntry">
      </runtimeLoadpathEntry>
   </extension>  

</plugin>
