<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.rubypeople.rdt.launching"
   name="%Plugin.name"
   version="0.4.0"
   provider-name="RubyPeople, Inc."
   class="org.rubypeople.rdt.internal.launching.RdtLaunchingPlugin">

   <runtime>
      <library name="launching.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.rubypeople.rdt.core"/>
      <import plugin="org.rubypeople.rdt.debug.core"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
   </requires>


   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="%LaunchConfigurationTypeRubyApplication.name"
            delegate="org.rubypeople.rdt.internal.launching.RubyApplicationLaunchConfigurationDelegate"
            modes="run,debug"
            id="org.rubypeople.rdt.launching.LaunchConfigurationTypeRubyApplication">
         <fileExtension
               default="true"
               extension="rb">
         </fileExtension>
      </launchConfigurationType>
   </extension>

</plugin>
