<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.rubypeople.rdt"
   name="%pluginName"
   version="0.5.0"
   provider-name="%providerName">
   <requires>
      <import plugin="org.eclipse.ui.intro"/>
   </requires>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="intro/rdtTutorialsExtensionContent.xml"
            configId="org.eclipse.platform.introConfig"/>
      <configExtension
            content="intro/rdtOverviewExtensionContent.xml"
            configId="org.eclipse.platform.introConfig"/>            
      <configExtension
            content="intro/rdtNewsExtensionContent.xml"
            configId="org.eclipse.platform.introConfig"/>            
            
   </extension>

</plugin>
